body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #274BB0;
    background: linear-gradient(to bottom, #2A59B7, #1B018E);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DM Sans", sans-serif;
}

.profile-image{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.container h4{
    font-size: 20px;
    font-weight: bold;
}

.container h5{
    font-size: 15px;
    font-weight: bolder;
}

.container h6{
    font-size: 15px;
    font-weight: bold;
}

.container h7{
    font-size: 15px;
    font-weight: bold;
}

.textditextbox{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400px;
}

.textlinktree{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.textboxlink{
    padding: 15px 10px 15px 10px;
    background-color: white !important;
    color: black !important;
    border-color: black !important;
    height: auto !important;
    width: 550px !important;
    border-radius: 30px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.305);
    transition: 0s;
}

.textboxlink:hover{
    transform: translateY(4px) translateX(4px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.305);
}

.joingelatik{
    padding: 15px 10px 15px 10px;
    background-color: #C6C2E4;
    color: black !important;
    height: auto !important;
    width: auto !important;
    border-radius: 30px;
    box-shadow: rgba(0.305, 0.305, 0.305, 0.305);
    transition: 0s;
}

.joingelatik:hover{
    background-color: white;
}

.boxlinktree{
    padding-bottom: 50px;
}

.image-container{
    width: 550px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.305);
    transition: 0s;
}

.image-container:hover{
    transform: translateY(4px) translateX(4px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.305);
}

.banner-image{
    width: 100%;
    height: auto;
}

.gradient-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.icon-box {
    width: 20px;         
    min-width: 20px;      
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 30px;
    color: black;
}

.iconimage{
    height: 18px;
    width: 18px;
}

.threebutton{
    font-size: 18px;
    color: grey;
}

.threebuttonimage{
    font-size: 18px;
    color: white;
}

.social-logo{
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
  
.social-logo i{
    font-size: 30px;
    line-height: 1;
    color: white;
}